.queue-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.queue {
    width: 150px;
    height: 450px;
    background-color:thistle;
    text-align: center;
    overflow: hidden;
}

.queue-button {
    width: 150px;
    height: 70px;
    cursor: pointer;
    background-color:teal;
    color: white;
}

.classified-image {
    width:  150px;
    height: 150px;
    object-fit: cover;
}